<ion-header [translucent]="true">
  <ion-toolbar color="blue">
    <ion-title>
      Filmes App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="gray">
  
  <ion-searchbar placeholder="Buscar"></ion-searchbar>
  <ion-list>
    <ion-item lines="fuul">
      <ion-thumbnail slot="start">
        <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/nEbSB6eCozhIZZORPAlNQLDDPDG.jpg">
      </ion-thumbnail>
      <ion-label class="ion-text-wrap">
        <div>
          <h1>A Culpa é das Estrelas (2014)</h1>
          <p>05/06/2014 (BR) - 2h 12m</p>
          <p>Romance, Drama</p>
        </div>
      </ion-label>
      <ion-chip color="success" outline>
        <ion-label>76%</ion-label>
      </ion-chip>

    </ion-item>

    
  </ion-list>

  <ion-list>
    <ion-item lines="fuul">
      <ion-thumbnail slot="start">
        <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/1x8tN7XMxWgnJQnjZRxwMeiEWtF.jpg">
      </ion-thumbnail>
      <ion-label class="ion-text-wrap">
        <div>
          <h1>Sol da Meia-noite (2018)</h1>
          <p>14/06/2018 (BR)1h 31m</p>
          <p>Romance, Drama</p>
        </div>
      </ion-label>
      <ion-chip color="success" outline>
        <ion-label>78%</ion-label>
      </ion-chip>

    </ion-item>

    
  </ion-list>

  <ion-list>
    <ion-item lines="fuul">
      <ion-thumbnail slot="start">
        <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/yf2WNfO1b0E1IcJDLUiGj7ccKRm.jpg">
      </ion-thumbnail>
      <ion-label class="ion-text-wrap">
        <div>
          <h1>A cabana</h1>
          <p>06/04/2017 (BR)2h 12m</p>
          <p>Drama, Fantasia</p>
        </div>
      </ion-label>
      <ion-chip color="success" outline>
        <ion-label>74%</ion-label>
      </ion-chip>

    </ion-item>

    
  </ion-list>

  <ion-list>
    <ion-item lines="fuul">
      <ion-thumbnail slot="start">
        <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/sgxHeCZE3H9n5jQFumQPs9HBnTV.jpg">
      </ion-thumbnail>
      <ion-label class="ion-text-wrap">
        <div>
          <h1>Crepusculo(2008)</h1>
          <p>19/12/2008 (BR)2h 2m</p>
          <p>Fantasia, Drama, Romance</p>
        </div>
      </ion-label>
      <ion-chip color="success" outline>
        <ion-label>63%</ion-label>
      </ion-chip>

    </ion-item>

    
  </ion-list>

  <ion-list>
    <ion-item lines="fuul">
      <ion-thumbnail slot="start">
        <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/uwyySfv4kybDpVebZhyb0Bnk3dz.jpg">
      </ion-thumbnail>
      <ion-label class="ion-text-wrap">
        <div>
          <h1>A cimco passos de você</h1>
          <p>21/03/2019 (BR)1h 56m</p>
          <p>Romance, Dramae</p>
        </div>
      </ion-label>
      <ion-chip color="success" outline>
        <ion-label>84%</ion-label>
      </ion-chip>

    </ion-item>

    
  </ion-list>
</ion-content>
